---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import Work from "../components/Work.astro";
import Press from "../components/Press.astro";
import Recognition from "../components/Recognition.astro";
import Engagements from "../components/Engagements.astro";
import Research from "../components/Research.astro";
import TrustedBy from "../components/TrustedBy.astro";
import Education from "../components/Education.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Stats />
    <Work />
    <Press />
    <Recognition />
    <Engagements />
    <Research />
    <TrustedBy />
    <Education />
    <Contact />
  </main>
</Layout>
